.App {
    text-align: center;
}

.display-1 {
    font-size: 5.5rem;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
    .App {
        max-width: 380px !important;
    }
    .display-1 {
        font-size: 3rem;
    }
}